.left-nav-container {
  position: relative;
  left: -15px;
  top: 0;

  .icons {
    position: fixed;
    z-index: 10;

    @media screen and(max-width: 590px) {
      margin: 2px 0 0 -9px;
    }

    .icons-bis {
      position: absolute;
      left: 10px;

      a {
        transition: 0.1s;
        display: inline-block;

        &:hover {
          transform: scale(1.02);
        }

        img {
          height: 30px;
          width: 30px;
          margin-top: 8px;
        }
      }

      .active-left-nav {
        position: relative;

        &::after {
          content: "";
          height: 28px;
          width: 3px;
          position: absolute;
          background: $color-2;
          left: -7px;
          bottom: 8px;
          border-radius: 40px;

          @media screen and(max-width: 590px) {
            left: -8px;
          }
        }
      }
    }
  }
}
