.search-bar {
  background: #c9e9ff;
  border-radius: 20px;
  margin-bottom: 14px;
  padding: 10px;
  width: 356px;

  input {
    display: block;
    height: 30px;
    width: 100%;
    padding: 12px 10px;
    font-size: 1.1rem;
    border-radius: 8px;
  }

  .search-list {
    width: 100%;
    margin-top: 5px;
    border-radius: 8px;
    background: $white;

    li {
      display: block;
      padding: 4px 5px 0 8px;
      opacity: .7;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
